body {
	padding: 20px;
	font-weight: 600;
}

.singleDayCalendar {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	grid-template-columns: auto auto auto;
}

.hour {
	align-items: center;
	height: 85px;
	border-bottom: 2px solid black;
	font-size: 18px;
}

.fifteenMinuteBlock {
	color: #7e7e7e;
	font-size: 16px;
	border-top: 1px solid #adadad;
}

.dayCard {
	width: 14%;
	height: 696px;
	border: 1px solid black;
}

.smallHour {
	height: 27px;
	border-top: 1px solid #a9a9a9;
	font-size: 12px;
}

.currentDayOfWeek {

}
.currentDayOfWeekPlus1 {

}
.currentDayOfWeekPlus2 {

}
.currentDayOfWeekPlus3 {

}
.currentDayOfWeekPlus4 {

}
.currentDayOfWeekPlus5 {

}
.currentDayOfWeekPlus6 {

}

.currentDayOfMonth {

}

.currentMonth {

}

.currentYear {

}

/* My css begins here */

:root{
  --min-width-rect: 400px;
  --min-height-15min-block: 24px;
  --event-colour: #0A6A56;
}

*{
  box-sizing: border-box;
}

.singleDayCalendar{
  position: relative;
}

.hour{
  height: 96px;
}

.hour>div{
  height: var(--min-height-15min-block);
}

.events-container{
  position: absolute;
  top: 0;
  left: 100px;
  width: calc(100% - 100px);
  height: 100%;
}

.event{
  position: absolute;
  min-width: var(--min-width-rect);
  min-height: var(--min-height-15min-block) ;
  background-color: var(--event-colour);
  border: 1px solid #C4E538;
  color: #fff;
  padding: 12px;
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
	box-shadow: 3px 3px 15px 4px #c4c4c4;
  -webkit-box-shadow: 3px 3px 15px 4px #c4c4c4;
	-moz-box-shadow: 3px 3px 15px 4px #c4c4c4;
  transition: transform .2s;
}

.event:hover{
  transform: scale(1.2);
  min-height: var(--min-width-rect);
  z-index: 999;
}