:root {

	/* Text Color */
	--primaryTextColor: #2f2f2f;
	--secondaryTextColor: #656565;

	/* Font Size */
	--primaryFontSize: 24px;
	--secondaryFontSize: 14px;

}

* {
	font-family: 'Roboto', sans-serif;
	font-weight: bolder;
}

body {
	margin: 0 0 0 0;
}

section {
	padding: 0 0 0 0;
}

h3 {
	text-align: center;
	font-weight: bolder;
}

/* Style tab links */
.tablink {
	background-color: #9b9b9b;
	color: #000000;
	border: none;
	float: left;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	font-size: 17px;
	width: 32.3333%;
	font-weight: bolder;
}

.tablink:hover {
	background-color: #777;
}

.tablinkRefresh {
	background-color: #9b9b9b;
	color: #000000;
	border: none;
	float: left;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	font-size: 17px;
	width: 3%;
	font-weight: bolder;
}

.tablinkRefresh:hover {
	background-color: #777;
}

.placeholder {
	background-color: #ececec;
	height: 150px;
	width: 250px;
	color: #000000;
	border-radius: 10px;
	border: 2px dashed #7e7e7e;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 10px;
}

.placeholder>div{
	text-align: left;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
	color: #000000;
	display: none;
	height: 100%;
}

.container {
	width: 100%;
	height: 100%;
	margin-top: 0 !important;
}

.column18Percent {
	float: left;
	width: 18%;
}
.column44Percent {
	float:left;
	width:44%;
}
.column33Percent {
	width:33.33333333%;
	float:left;
}
.column40Percent {
	width:40%;
	float:left;
}
.column46Percent {
	width: 46%;
	float: left;
}
.column66Percent {
	width:66.66666667%;
	float:left;
}


/* Filtering */
.filterDiv {
	display: none;
}

.show {
	display: block;
}

.container {
	margin-top: 20px;
	overflow: hidden;
}

/* Style the buttons */
.btn {
	border: none;
	outline: none;
	padding: 10px 14px;
	background-color: #f1f1f1;
	cursor: pointer;
	font-size: 14px;
	font-weight: bolder;
}

.btn:hover {
	background-color: #ddd;
}

.btn.active {
	background-color: #000000;
	color: white;
}




div {
	display: inline-block;
}

details {
	margin: 5px 5px 5px 5px;
}

summary {
	font-size: var(--secondaryFontSize);
	color: var(--secondaryTextColor);
}

.chip {
	display: inline-block;
	padding: 4px 15px 4px 15px;
	margin: 5px 10px 15px 0;
	background-color: #1a1a1a;
	color: #ffffff !important;
	border-radius: 25px;
}

/* Calendar Today */
#CalendarToday {
	background-color: #f1f1f1;
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
}

/* Calendar Upcoming */
#CalendarUpcoming {
	background-color: #f1f1f1;
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
}

/* Projects */
#Projects {
}
.projectCard {
	background-color: #f5f5f5;
	border-radius: 5px;
	padding: 1rem;
	margin: 1rem;
	width: 300px;
	-webkit-box-shadow: 3px 3px 15px 4px #c4c4c4;
	-moz-box-shadow: 3px 3px 15px 4px #c4c4c4;
	box-shadow: 3px 3px 15px 4px #c4c4c4;
}
.ProjectName {
	color: var(--primaryTextColor);
	font-size: var(--primaryFontSize);
}
.ProjectClient {
	color: var(--secondaryTextColor);
	font-size: var(--secondaryFontSize);
}
.ProjectClientId {
	color: var(--secondaryTextColor);
	font-size: var(--secondaryFontSize);
}
.ProjectProgress {
	color: var(--secondaryTextColor);
	font-size: var(--secondaryFontSize);
}
.ProjectPrice {
	color: var(--secondaryTextColor);
	font-size: var(--secondaryFontSize);
}
.ProjectNumber {
	color: var(--secondaryTextColor);
	font-size: var(--secondaryFontSize);
}
.ProjectId {
	color: var(--secondaryTextColor);
	font-size: var(--secondaryFontSize);
}
.ProjectPublishedOn {
	color: var(--secondaryTextColor);
	font-size: var(--secondaryFontSize);
}

/* Service Orders */
#ServiceOrders {

}
.serviceOrderCard {
	background-color: #f5f5f5;
	border-radius: 5px;
	padding: 1rem;
	margin: 1rem;
	width: 300px;
	-webkit-box-shadow: 3px 3px 15px 4px #c4c4c4;
	-moz-box-shadow: 3px 3px 15px 4px #c4c4c4;
	box-shadow: 3px 3px 15px 4px #c4c4c4;
}
.ServiceOrderName {
	color: var(--primaryTextColor);
	font-size: var(--primaryFontSize);
}
.ServiceOrderProgress {
	color: var(--secondaryTextColor);
	font-size: var(--secondaryFontSize);
}
.ServiceOrderDescription {
	color: var(--secondaryTextColor);
	font-size: var(--secondaryFontSize);
	padding-top: 20px;
	line-height: 1.5;
}
.ServiceOrderId {
	color: var(--secondaryTextColor);
	font-size: var(--secondaryFontSize);
}
.ServiceOrderPublishedOn {
	color: var(--secondaryTextColor);
	font-size: var(--secondaryFontSize);
}

/* Tasks */
#Tasks {

}

.TaskProgress {
	color: var(--secondaryTextColor);
	font-size: var(--secondaryFontSize);
}
.TaskName {
	color: var(--primaryTextColor);
	font-size: var(--primaryFontSize);
}
.TaskClient {
	color: var(--secondaryTextColor);
	font-size: var(--secondaryFontSize);
}
.TaskDescription {
	color: var(--secondaryTextColor);
	font-size: var(--secondaryFontSize);
	padding-top: 20px;
	line-height: 1.5;
}
.TaskNumber {
	color: var(--secondaryTextColor);
	font-size: var(--secondaryFontSize);
}
.TaskId {
	color: var(--secondaryTextColor);
	font-size: var(--secondaryFontSize);
}
.TaskPublishedOn {
	color: var(--secondaryTextColor);
	font-size: var(--secondaryFontSize);
}

.card {
	background-color: #f5f5f5;
	border-radius: 5px;
	padding: 5px 20px 20px 20px;
	margin: 1rem;
	width: 300px;
	-webkit-box-shadow: 3px 3px 15px 4px #c4c4c4;
	-moz-box-shadow: 3px 3px 15px 4px #c4c4c4;
	box-shadow: 3px 3px 15px 4px #c4c4c4;
}


.plusIcon {
	background-color: white;
	border-radius: 25px;
	padding: 10px 20px 10px 15px;
	-webkit-box-shadow: 3px 3px 15px 4px #c4c4c4;
	-moz-box-shadow: 3px 3px 15px 4px #c4c4c4;
	box-shadow: 3px 3px 15px 4px #c4c4c4;
	transition: .2s ease-in-out;
	margin-left: 20px;
}
.plusIcon:hover {
	background-color: #dcdcdc;
	scale: 1.03;
	transition: .2s ease-in-out;
	cursor: pointer;
}

.topCardLabel {
	display: block;
	padding: 5px 10px 0 10px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	height: 30px;
	background-color: black;
	color: white;
	text-align: center;
	margin: -5px -20px 0 -20px;
}

.modal{
	position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.6);
	justify-content: center;
	align-items: center;
}

.modal>form{
	background-color: white;
	padding: 24px;
	display: flex;
	flex-direction: column;
	font-size: var(--primaryFontSize);
	color: var(--primaryTextColor);
	border-radius: 5px;
	min-width: 300px;
	max-width: 400px;
	width: 40%;
}

.modal>form input{
	margin: 12px 0;
	padding: 12px 8px;
	border-radius: 5px;
}

.modal-actions{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.modal>form button {
	padding: 12px;
	background-color: #1a1a1a;
	color: #ffffff;
	font-size: medium;
	margin-top: 24px;
	cursor: pointer;
	border: none;
	transition: .2s ease-in-out;
}

.modal>form button:hover{
	background-color: #656565;
	transition: .2s ease-in-out;
}